node_modules
releases
cache

.vscode/settings.json
/pkg-cache

*.cjs
*.js
*.map
*.log
*.tanstack
*.tsbuildinfo
config.toml

*.key
*.hash
*.license
*.pem
*.wm
*.db

*.xml
*.zip

/releases
/storage

.early.coverage
/core/storage
/test

packages/*/build/
core/build/

# Added by cargo
target
cache
/server/storage
